/* In navbar.module.scss */

/* Hide menu content by default */
.menu-content {
  display: none;
  position: absolute; /* Positioning to overlay */
  top: 60px; /* Adjust based on your header height */
  left: 0;
  right: 0;
  background-color: white; /* Optional: Background color */
  z-index: 10; /* Ensure it overlays content */
}

/* Show menu when checkbox is checked */
#menu-toggle:checked ~ .menu-content {
  display: block;
}

/* Ensure the menu button and content are styled appropriately */
.md:hidden {
  position: relative;
}

#menu-toggle {
  display: none;
}
